

<div class="card">
    <div>
      <h3>Payment Details</h3>
      <label for="inputNumber">Card Number</label>
      <input type="number" class="form-control" placeholder="card number">
  </div>
  <br>
  <div>
      <label for="inputNumber">Expiry Month</label>
      <input type="number" class="form-control" placeholder="expiry month">
  </div>
  <br>
  <div>
      <label for="inputNumber">Expiry Year</label>
      <input type="number" class="form-control" placeholder="expiry year">
  </div>
  <br>

  <div>
      <label for="inputNumber">CVC</label>
      <input type="number" class="form-control" placeholder="cvc">
  </div>
  <br>

  <div class="row">
      <button expand="full" color="dark" click="Payment Successfull">
        Pay Via Stripe
      </button>
  </div>
  <!-- <br>
      <h3>Payment Successfull</h3> -->
  </div>

